@use '../abstracts/functions' as *;

$text-sm: rem(12px);
$text-md: rem(14px);
$text-lg: rem(16px);
$text-xl: rem(18px);

$display-xs: rem(20px);
$display-sm: rem(24px);
$display-md: rem(30px);
$display-lg: rem(44px);
$display-xl: rem(48px);
