@use '../../../_variables.scss' as *;
@use '../../../_functions.scss' as *;

.timer-controls {
    display: flex;
    flex-wrap: wrap;
    gap: spacing(rem(4));
    justify-content: center;

    .control-button {
        display: flex;
        border: unset;
        gap: $spacing-xs;
        font-weight: 600;
        font-size: 1.1rem;
        border-radius: 50%;
        align-items: center;
        background-color: $button-background-color;
        transition:
            transform 250ms ease-in-out,
            box-shadow 250ms ease-in-out,
            background 250ms ease-in-out;

        &:not(:disabled) {
            cursor: pointer;
        }

        &.start,
        &.pause,
        &.resume {
            position: relative;
            padding: spacing(2);
            margin-top: spacing(1);
            transition: transform 250ms ease-in-out;

            &::after {
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0.3;
                position: absolute;
                border-radius: 50%;
                transition: opacity 250ms ease-in-out;
                background: radial-gradient(
                    circle,
                    transparent 0%,
                    rgb(var(--color-timerBg)) 95%
                );
            }

            &:hover {
                transform: translateY(-2px);

                &::after {
                    opacity: 0.4;
                }
            }
        }

        &.start,
        &.resume {
            color: white;
            box-shadow: $shadow-md;

            &:hover:not(:disabled) {
                box-shadow: $shadow-lg;
                transform: translateY(-2px);
            }
        }

        &.pause {
            color: white;
            box-shadow: $shadow-md;
            background: rgb(var(--color-timerBg));

            svg {
                color: #ffffff;
                mix-blend-mode: difference;
            }

            &:hover:not(:disabled) {
                box-shadow: $shadow-lg;
                transform: translateY(-2px);
            }
        }

        &.secondary {
            width: 3rem;
            height: 3rem;
            display: flex;
            color: $text-color;
            align-items: center;
            justify-content: center;

            &:disabled {
                opacity: 0.5;
            }

            &:hover:not(:disabled) {
                background-color: #444444;
            }
        }

        &:active:not(:disabled) {
            transform: translateY(0);
        }
    }
}
